*{
	font-family: 微软雅黑;
}

.b{
	border: 1px solid black;
}

.f30{
	font-size: 30px;
}

.h40{
	height: 40px;
}

.input{
	border-radius: 3px;
	border:1px solid #c9c9c9;
}

.mqReminder{
	display: none;
	color: red;
	margin-left: 85px;
}

.changeBody{
	width: 1100px;
	border: 1px solid #c9c9c9;
	margin:auto;
	margin-bottom:20px;
}

.change{
	border: 1px solid #c9c9c9;
	margin-bottom: 40px;
}

#submit{
	width: 100px;
	height: 40px;
	border: none;
	border-radius: 3px;
	background-color: #e44545;
	color: white;
	margin-left: 85px;
}

#submit:hover{
	cursor: pointer;
	background-color: #F51C1C;

	font-size: 21px;
}

#again{
	width: 100px;
	height: 40px;
	border: none;
	border-radius: 3px;
	
	background-color: #8AB0D5;
	color: white;

}

#again:hover{
	cursor: pointer;
		background-color: #0E8DD6;
	font-size: 21px;
}