*{
	font-family: "微软雅黑";
}

.b{
	border: 1px solid black;
}

.tr8{
	-webkit-transition:0.8s;
}

.h90{
	height: 90px;
}

.w1100{
	width: 1100px;
}

.f30{
	font-size: 30px;
}

.lh90{
	line-height: 90px;
}

.di{
	display: inline;
}

.h40{
	height: 40px;
}

.cursorp:hover{
	cursor: pointer;
	color: red;
}

.mqBody{
	width: 1100px;
	border: 1px solid #c9c9c9;
	margin-top: 20px;
	padding-bottom: 50px;
}

#password{
	width: 205px;
	border-radius: 4px;
	border: 1px solid #c9c9c9;
	outline: medium;
	margin-left: 2px;
}

#claim{
	color: red;
	margin-left: 90px;
}

#affirm{
	width: 205px;
	border-radius: 4px;
	border: 1px solid #c9c9c9;
	outline: medium;
}

#cancel{
	width: 100px;
	height: 40px;
	border: none;
	border-radius: 3px;
	background-color: #8AB0D5;
	color: white;
	margin-left: 85px;
}

#cancel:hover{
	cursor: pointer;
	background-color: #0E8DD6;
	font-size: 21px;
}

#finish{
	width: 100px;
	height: 40px;
	border: none;
	border-radius: 3px;
	background-color: #fe3232;
	color: white;
}

#finish:hover{
	cursor: pointer;
	background-color: #F51C1C;
	font-size: 21px;
}
