*{
	font-family: "微软雅黑";
}

.b{
	border: 1px solid black;
}

.background{
	background-color: #E1DFDF;
}

.h40{
	height: 40px;
}

.h90{
	height: 90px;
}

.w1100{
	width: 1100px;
}

.lh40{
	line-height: 40px;
}

.lh90{
	line-height: 90px;
}

.f30{
	font-size: 30px;
}

.cursorp:hover{
	cursor: pointer;
	color: red;
}

.mqBody{
	width: 1100px;
	border: 1px solid #c9c9c9;
	margin-top: 20px;
	padding-bottom: 50px;
}

.username{
	width: 320px;
	border-radius:4px;
	border: 1px solid #c9c9c9;
	outline:medium;
	color: #BBBBBB;
}

.verify{
	width: 125px;
	border-radius: 4px;
	border: 1px solid #c9c9c9;
	outline:medium;
	margin-left: 10px;
}

#account{
	margin-left: 75px;
	color: red;
}

#vague{
	line-height:12px;
	text-decoration: none;
}

#vague:hover{
	text-decoration: underline;
}

#image{
	width: 100px;
	height: 42px;
}

#submit{
	width: 125px;
	margin-left: 70px;
	background-color: #F74949;
	border: none;
	border-radius: 3px;
	color: white;
}

#submit:hover{
	cursor: pointer;
	background-color: #F51C1C;
	font-size: 21px;
}