*{
	font-family: "微软雅黑";
}

.b{
	border: 1px solid black;
}

.background{
	background-color: #E1DFDF;
}

.tr8{
	-webkit-transition:0.5s;
}

.h90{
	height: 90px;
}

.w1100{
	width: 1100px;
}

.f30{
	font-size: 30px;
}

.lh90{
	line-height: 90px;
}

.h40{
	height: 40px;
}

.ml{
	margin-left: 65px;
}

.mqBody{
	width: 1100px;
	border: 1px solid #c9c9c9;
	margin-top: 20px;
	padding-bottom: 50px;
}

.cursorp:hover{
	cursor: pointer;
	color: red;
}

.mqSelect{
	color: black;
}
#tel{
	width:120px;
	height: 50px;
	line-height: 50px;
	font-size: 25px;
	cursor: pointer;
	cursor: pointer;
	display: inline-block;
	text-align: center;

	-webkit-transition:0.5s;-o-transition:0.5s;-moz-transition:0.5s;-ms-transition:0.5s;
}

#tel:hover{
	color: white;
	background: #e44545;
	cursor: pointer;
}

#email{
	width:120px;
	height: 50px;
	font-size: 25px;
	line-height: 50px;
	margin-left: 5px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	-webkit-transition:0.5s;-o-transition:0.5s;-moz-transition:0.5s;-ms-transition:0.5s;
}

#email:hover{
	color: white;
	background: #e44545;
	cursor: pointer;
}

#getverify{
	width: 120px;
	height: 44px;
	border: none;
	border-radius: 3px;
	background-color: #e44545;
	color: white;
	outline: none;
}

#getverify:hover{
	cursor: pointer;
	background-color: #F51C1C;
	font-size: 21px;
}

#verify{
	width: 200px;
	border-radius: 4px;
	border: 1px solid #c9c9c9;
	outline: medium;
}

#back{
	width: 100px;
	height: 40px;
	border: none;
	border-radius: 3px;
	background-color: #8AB0D5;
	color: white;
}

#back:hover{
	cursor: pointer;
	background-color: #0E8DD6;
	font-size:21px;
}

#next{
	width: 100px;
	height: 40px;
	border: none;
	border-radius: 3px;
	background-color: #e44545;
	color: white;
}

#next:hover{
	cursor: pointer;
	background-color: #F51C1C;
	font-size: 21px;
}
